{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item"> <a href="{% url 'list_course' %}"> Course List </a> </li>
        <li class="breadcrumb-item active"> Course delete </li>
    </ol>

    <form method="post">
        {% csrf_token %}     
        <p> Are you sure you want to delete this Course? </p>

        <button type="submit" class="btn btn-danger"> Delete </button>
        <a href="{% url 'list_course' %}" class="btn btn-info"> Cancel </button>  
    </form>
 
{% endblock content %}