<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login-clean">
    
        <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
            <h2>Student Record Mangement System</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            {% if error  %}
               <span style="color:red;"> {{ error }} </span>
            {% endif%}
            <div class="form-group"><input class="form-control" type="text" name="user_id" placeholder="User ID"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Want to reset password?</a></form>
    </div>
  
</body>

</html>