{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!--
 <ol class="col-12 breadcrumb bg-muted">
    <li class="breadcrumb-item"> <a href=""> Home </a> </li>
    <li class="breadcrumb-item active"> Delete Show </li>
</ol>
-->
 <div class="container">
    <div class="row mb-3">
        <div class="col-md-5">
            <a class="btn btn-primary" href="{% url 'create_section' %}"> Create Section</a>
        </div>
        <div class="col-md-5 offset-md-2">
         <a class="btn btn-secondary" href="{% url 'section_upload' %}"> Upload Sections</a>
        </div>
    </div>
</div>



 <div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <table class="table table-bordered">
                <tr>
                    <th>Grade </th>
                     <th>Section </th>
                    <th width="280px"> Action </th>
                </tr>

                {% for s in object_list %}
                <tr>
                    <td>{{ s.grade }}</td>
                    <td>{{ s.name }}</td>
                    <td> 
                        <a class="btn btn-secondary" href="{% url 'section_edit' s.id %}"> Edit</a>
                        <a class="btn btn-danger" href="{% url 'section_delete' s.id %}"> Delete</a>
                    </td>                   
                </tr>
                {% endfor %}
            </table> 
            
        </div>
    </div>
</div>

{% endblock content %}