{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <ol class="col-12 breadcrumb bg-muted">
                <li class="breadcrumb-item"> <a href="{% url 'list_section' %}"> Section List </a> </li>
                <li class="breadcrumb-item active"> Section Course </li>
        </ol>
    
        {% csrf_token %}
        {% crispy form %}
    
{% endblock content %}