{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!--
 <ol class="col-12 breadcrumb bg-muted">
    <li class="breadcrumb-item"> <a href=""> Home </a> </li>
    <li class="breadcrumb-item active"> Delete Show </li>
</ol>
-->
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="i"> Upload a file: </label>
    <input type="file" name="file" id="i">
    <button class="btn btn-info mr-1" type="submit">Upload Sections</button>
 </form>



{% endblock content %}