{% load static %}

<!DOCTYPE html>
<html>
<head> 
    <title> School Record Management System </title>
    <meta charset="UTF-8">
    <!-- FONT AWESOME KIT -->
    <script src="https://kit.fontawesome.com/16475baae0.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP4 CSS -->
    
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
   
 
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<body>
<!-- 
<body class="bg-light">

  <section id="dashboard">
    <div class="container-fluid">
      <div class="dashboard-container row">
      
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 sidenav">
          <div class="logo">

            <h4> <a href="{% url 'home' %}">SRMS</a> </h4>
          </div>
         
          {% if request.user.role == 'officer' %}
            
            <div class="sn-group">
              <h5>user</h5>
              <nav>
                <a class="sn-link" href="{% url 'home' %}">
                  <i class="fas fa-user-plus"></i>admission
                </a>
                <a href="{% url 'home' %}" class="sn-link">
                  <i class="fas fa-th-list"></i>all student
                </a>
              </nav>
            </div>
            <div class="sn-group">
              <h5>teacher</h5>
              <nav>
                <a class="sn-link" href="{% url 'home' %}">
                  <i class="fas fa-user-tie"></i>new teacher
                </a>
      
                <a href="{% url 'home' %}" class="sn-link">
                  <i class="fas fa-th-list"></i>teachers
                </a>
            
              </nav>
            </div>
            <div class="sn-group">
              <h5>Course</h5>
              <nav>
                <a class="sn-link" href="{% url 'home' %}">
                  <i class="fas fa-user-tie"></i>Course
                </a>
                <a class="sn-link" href="{% url 'home' %}">
                  <i class="fas fa-user-tie"></i>Section
                </a>
              
                <a class="sn-link" href="{% url 'home' %}">
                    <i class="fas fa-user-tie"></i>Course assign to teacher
                </a>
                <a class="sn-link" href="">
                    <i class="fas fa-user-tie"></i>Section assign to student
                </a>
              </nav>
            </div>
            <div class="sn-group">
              <h5>Roster</h5>
              <nav>
                <a class="sn-link" href="{% url 'home' %}">
                  <i class="fas fa-plus"></i>Roster
                </a>
          
              </nav>
            </div>
            
          {% elif request.user.role == "teacher" %}
              <div class="sn-group">
              <h5>Mark</h5>
              <nav>
                <a class="sn-link" href="{% url 'view_assessment'  %}">
                  <i class="fas fa-plus"></i>Assessments 
                </a>

                  <a class="sn-link" href="{% url 'class_taught_list'  %}">
                  <i class="fas fa-plus"></i>Marks
                </a>
              
              </nav>
            </div>
          {% elif request.user.role == "student" %}

              <div class="sn-group">
              <h5>Marks</h5>
              <nav>
                <a class="sn-link" href="{% url 'home'  %}">
                  <i class="fas fa-plus"></i>view Marks
                </a>
          
              </nav>
            </div>
          {% else %}
          {% endif %}
        </div>
        

     
        <div class="col-12 col-sm-12 col-md-8 col-lg-10 px-0 dashbody">
         
          <nav class="navbar navbar-expand-lg navbar-light bg-light shadow py-3 px-5">
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              {% if user.is_authenticated %}
                    <p> Hi {{ user.first_name }} </p>
                    <a href="{% url 'logout' %}"> Logout </p>
                    <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-user-circle fa-lg"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Hi {{ user.first_name }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                      Logout 
                    </a>
                  </div>
                </li>
              </div>
                    
              {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              {% endif %}
              
            </div>
          </nav>
        




          <div id="dash-body-inner" class="container-fluid p-5">

           
          

           
           

    
      </div> 

    </div>
  </section>



  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>



</body>
-->
<body class="bg-light">

  <section id="dashboard">
    <div class="container-fluid">
      <div class="dashboard-container row">
        <!-- START SIDENAV -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 sidenav">
          <div class="logo">

            <h4> <a href="">SRMS</a> </h4>
          </div>
         
         <!-- officer views-->
          {% if request.user.role == 'officer' %}
            <div class="sn-group">
              <h5>user</h5>
              <nav>
                <a class="sn-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i>Registration
                </a>
                <a href="{% url 'students_list'%}" class="sn-link">
                  <i class="fas fa-th-list"></i>all student
                </a>
                <a href="{% url 'teachers_list'%}" class="sn-link">
                  <i class="fas fa-th-list"></i>all teachers
                </a>
              </nav>
            </div>
            <div class="sn-group">
              <h5>Assign</h5>
              <nav>
                <a class="sn-link" href="{% url 'admission' %}">
                  <i class="fas fa-user-tie"></i>assign student to section
                </a>
            
              </nav>
            </div>
            <div class="sn-group">
              <h5>Course</h5>
              <nav>
                <a class="sn-link" href="{% url 'list_course' %}">
                  <i class="fas fa-user-tie"></i>Course
                </a>
              
              
                <a class="sn-link" href="{% url 'assign_course_list' %}">
                    <i class="fas fa-user-tie"></i>Course assign to teacher
                </a>
                
              </nav>
            </div>

          
            <div class="sn-group">
              <h5>Sections</h5>
              <nav>
                <a class="sn-link" href="{% url 'list_section' %}">
                  <i class="fas fa-plus"></i>Sections
                </a>
          
              </nav>
            </div>
            <div class="sn-group">
              
              </nav>
            </div>
            {% elif request.user.role == "teacher" %}
          <!-- teacher views-->
               <div class="sn-group">
              <h5>Mark</h5>
              <nav>
                <a class="sn-link" href="{% url 'view_assessment'  %}">
                  <i class="fas fa-plus"></i>Assessments 
                </a>

                  <a class="sn-link" href="{% url 'class_taught_list'  %}">
                  <i class="fas fa-plus"></i>Marks
                </a>
              
              </nav>
            </div>
          {% elif request.user.role == "student" %}
              <!-- student views-->
              <div class="sn-group">
              <h5>Marks</h5>
              <nav>
                <a class="sn-link" href="{% url 'view_mark' %}">
                  <i class="fas fa-plus"></i>view Marks
                </a>
                <a class="sn-link" href="{% url 'transcript' %}">
                  <i class="fas fa-plus"></i>view Transcript
                </a>
          
              </nav>
            </div>
            <div class="sn-group">
              <h5>Manage Password</h5>
              <nav>
                <a class="sn-link" href="../../password_change/">
                  <i class="fas fa-plus"></i>password change
                </a>
      
              </nav>
            </div>
            
           {% else %}
          {% endif %}
        
        </div>
        <!-- END OF SIDENAV -->

        <!-- START DASHBOARD BODY -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-10 px-0 dashbody">
          <!-- NAVIGATION TOP -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light shadow py-3 px-5">
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              {% if user.is_authenticated %}
                    <p> Hi {{ request.user.first_name }} </p>
                    <a href="{% url 'signin' %}"> Logout </p>
                    <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-user-circle fa-lg"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Hi {{ user.username }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                      Logout 
                    </a>
                  </div>
                </li>
              </div>
                    
              {% else %}
                <p><a href="{% url 'signin' %}"> Login </p></p>
              {% endif %}
              
            </div>
          </nav>
          <!-- END NAV TOP -->

          <div id="dash-body-inner" class="container-fluid p-5">

           
          {% block content %}
          {% endblock content %}
            <!-- end of second row -->
            {% if user.is_authenticated %}
           
           {% endif %}
           

          </div>
          <!-- <footer id="footer">
            <div class="container">
              <div class="row">
                <div class="col-12 py-1">
                  <p>&copy;copyright 2020, reserved by <em>pidevs</em></p>
                </div>
              </div>
            </div>
          </footer> -->
        </div>
        <!-- END DASHBOARD BODY -->
      </div> <!-- dashboard container fluid -->

    </div>
  </section>



  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>



</body>
</html>