{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
 


 <div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <a class="btn btn-primary" href="{% url 'course_assign' %}"> Assign Course Teacher</a>
            <table class="table table-bordered mt-3">
                <tr>
                    <th>Assigned Courses </th>
                    <th width="280px"> Action </th>
                </tr>

                {% for s in object_list %}
                <tr>
                    <td>{{ s.teacher }} {{ s.course }}</td>
                 
                    <td> 
                        <a class="btn btn-secondary" href="{% url 'assign_course_edit' s.id %}"> Edit</a>
                        <a class="btn btn-danger" href="{% url 'assign_course_delete' s.id %}"> Delete</a>
                    </td>                   
                </tr>
                {% endfor %}
            </table> 
            
        </div>
    </div>
</div>

{% endblock content %}