{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item"> <a href="{% url 'assign_course_list' %}"> Assigned Course List  </a> </li>
        <li class="breadcrumb-item active"> Assign Course </li>
</ol>
    {% if error %} 
        {{error}}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Assign Course</button>
    </form>
{% endblock content %}