{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}



 <div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <table class="table table-bordered">
                <tr>
                    <th>Teachers </th>
                    <th width="280px"> Action </th>
                </tr>

                {% for s in teachers %}
                <tr>
                    <td>{{ s.first_name }} {{ s.middle_name }} {{ s.last_name }}</td>
                    <td> 
                        <a class="btn btn-secondary" href="{% url 'user_update' s.id %}"> Edit</a>
                        <a class="btn btn-danger" href="{% url 'user_delete' s.id %}"> Delete</a>
                    </td>                   
                </tr>
                {% endfor %}
            </table> 
            
        </div>
    </div>
</div>

{% endblock content %}