{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item active"> User update </li>
    </ol>

    <form method="post">
        {% csrf_token %}     
        {{ form|crispy }} 

        <button type="submit" class="btn btn-primary"> Update </button>  
    </form>
 
{% endblock content %}