{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <ol class="col-12 breadcrumb bg-muted">
                <li class="breadcrumb-item"> <a href="{% url 'home' %}"> Home </a> </li>
                <li class="breadcrumb-item active"> Create </li>
        </ol>
    
        {% csrf_token %}
        {% crispy form %}
      
{% endblock content %}