{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item active"> Classes </li>
    </ol>

    <div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <table class="table table-striped">
                <tr class="table-primary">
                    <th>Section </th>
                    <th>Course Name</th>
                   
                </tr>

               {% for course in course_list %}
                        <tr>
                            <td><a style="decorator:none;" href="{% url 'student_mark_list'  course.id %}"> {{ course.course.section }} </a> </td>
                            <td>{{ course.course.name }} </td>
                            
                        </tr>
                {% endfor%}
            </table>
            </div>
            </div>
            </div>
{% endblock content %}