{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if error %} 
        {{error}}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Create</button>
    </form>
{% endblock content %}