{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!--
 <ol class="col-12 breadcrumb bg-muted">
    <li class="breadcrumb-item"> <a href=""> Home </a> </li>
    <li class="breadcrumb-item active"> Delete Show </li>
</ol>
-->
   {% if error %}
      {% for e in error %} 
         {{e}}
      {% endfor %}
   {% else %}
      <h3> Successfully Grade Report Submitted </h3>
   {%endif%}

 {% endblock %}