{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
         <b>Enter Marks</b></div>
         {% if error %} 
                {{error}}
            {% endif %}
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    {% for ass in assessment_list %}
                        <th>{{ass.name}}({{ass.point}}%)</th>
                    {% endfor %}
                  
                </tr>
              </thead>
                <tbody>
                
                    <tr>
                        {% for ass in assessment_list %}
                            <td>
                            <input id={{ass.id}} type="float" name='{{ass.id}}' value={{ass.value}}>
                             </td>
                        {%endfor%}
                   
                    </tr>
              
                </tbody>
            </table>
          </div>
        </div>
      </div>


    <input class="btn btn-success" type="submit" value="Submit">
    <!--
</form>
        
        <table class="table">
            <tr class="table-primary">
                <th>Student Name</th>
                {% for ass in assessment_list %}
                    <th>{{ass.name}}</th>
                {% endfor %}
            </tr>
        </table>
        <form  method='POST'>
        {% csrf_token %}
            <label>{{student_name}}</label>
            {% for ass in assessment_list %}
            <input id={{ass.id}} type="number" name='{{ass.id}}' value={{ass.value}}>
            {%endfor%}
            <button class="btn btn-success" type="submit">Insert</button>
        </form>
    -->
{% endblock content %}