{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .titles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #DDD;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .titles > .title {
        margin-right: 1.4em;
        font-size: 1.3em;
        color: #666;
    }

    .titles > [data-status*="active"] {
        color: #111;
        border-bottom: 2px solid #4F6DF5;
        padding-bottom: 4px;
    }

    .titles > .title:first-of-type {
        margin-left: 1em;
    }

    .titles > .title:hover {
        cursor: pointer;
    }

    .content {
        position: relative;
    }

    .content > .item {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        display: none;
    }

    .wrapper {
        margin: 1em 2em;
    }



    </style>
    <ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item active"> Student Mark List </li>
        <li class="breadcrumb-item active"> {{course_teacher.course}} </li>

    </ol>

 

<div class="wrapper col-sm col-centered">
    <div class="titles">
        <div class="title">First Semester</div>
        <div class="title">Second Semester</div>
    </div>
    <div class="content">
        <div class="item">
            <h5 class="table-name">First Semester Student Mark List <span><a href="{% url 'upload_marks' course_teacher.id 'I'%}" class="btn btn-primary" > Upload Marks </a>
            <a href="{% url 'grade_report' course_teacher.id 'I'%}" class="btn btn-primary" > Grade Report </a>
            </span></h5>
            <table class="table table-striped mt-3">
                <tr class="table-primary">
                    <th>Student Name </th>
                    {% for ass in first_assessment_list %}
                        <th><small>{{ass.name}}({{ass.point}}%)</small></th>
                    {% endfor %}
                </tr>

               {% for stu, mark_list in first_semester_student_mark_list %}
                        <tr>
                            <td><a href="{% url 'insert_mark' stu.id course_teacher.id 'I'%}" style="decorator:none;"> {{ stu.student }} </a></td>
                            {% for point in mark_list %}
                                <td>{{point }} </td>
                            {% endfor %}
                        </tr>
                {% endfor%}
            </table>
        </div>
        <div class="item">
            <h5 class="table-name">Second Semester Student Mark List <span><a href="{% url 'upload_marks' course_teacher.id 'II' %}" class="btn btn-primary" > Upload Marks </a>
            <a href="{% url 'grade_report' course_teacher.id 'II' %}" class="btn btn-primary" > Grade Report </a></span></h5>
            
            <table class="table table-striped mt-3">
                <tr class="table-primary">
                    <th>Student Name </th>
                    {% for ass in second_assessment_list %}
                        <th>{{ass.name}}</th>
                    {% endfor %}
                </tr>

               {% for stu, mark_list in second_semester_student_mark_list %}
                        <tr>
                            <td><a href="{% url 'insert_mark' stu.id course_teacher.id 'II' %}" style="decorator:none;"> {{ stu.student }} </a></td>
                            {% for point in mark_list %}
                                <td>{{point }} </td>
                            {% endfor %}
                        </tr>
                {% endfor%}
            </table>
        </div> 
    </div>
</div>
   
<script>
// tab for ranklist
    function Semester(evt, type) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(type).style.display = "block";
        evt.currentTarget.className += " active";
    }


    var titles = document.querySelectorAll('.title');
    var items = document.querySelectorAll('.item');

    items[0].style.display = 'block';
    titles[0].setAttribute('data-status', 'active');
    
    for(let i=0; i<titles.length; i++) {
        let status = true;

        
        titles[i].addEventListener('click', function(event) {
            if(status) {
                items[i].style.display = 'block';
                titles[i].setAttribute('data-status', 'active');
                
                for(let j=0; j<titles.length; j++) {
                    if(titles[j] != event.target) {
                        items[j].style.display = 'none';
                        titles[j].removeAttribute('data-status');
                    }
                }

                status = true;
            }
        });
    }
</script>

{% endblock content %}