{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .titles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #DDD;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .titles > .title {
        margin-right: 1.4em;
        font-size: 1.3em;
        color: #666;
    }

    .titles > [data-status*="active"] {
        color: #111;
        border-bottom: 2px solid #4F6DF5;
        padding-bottom: 4px;
    }

    .titles > .title:first-of-type {
        margin-left: 1em;
    }

    .titles > .title:hover {
        cursor: pointer;
    }

    .content {
        position: relative;
    }

    .content > .item {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        display: none;
    }

    .wrapper {
        margin: 1em 2em;
    }



    </style>
    <ol class="col-12 breadcrumb bg-muted">
        <li class="breadcrumb-item active"> Transcript for Student  </li>
        <li class="breadcrumb-item active"> {{request.user}} </li>

    </ol>

 

<div class="wrapper col-sm-8 col-centered">
    <div class="titles">
        <div class="title">First Semester</div>
        <div class="title">Second Semester</div>
        <div class="title">Average</div>
    </div>
    <div class="content">
        <div class="item">
            <h6 class="table-name">First Semester Transcript List </h6><br><br>

            {% for yearly_report, total, average, section, year in first_transcript %}
            <h6>Section: {{section}}</h6>
            <h6>Academic Year: {{year}}</h6>
            <table class="table table-striped">
                <thead>
                <tr style="background:red;">
                    <td>Course Name</td>
                    <td>Mark</td>
                </tr>
                </thead>
                {% for course, point in yearly_report %}
                <tr>
                    <td>{{course}}</td>
                    <td>{{point}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr> 
                <tr>
                    <td>Average</td>
                    <td>{{average}}</td>
                </tr> 
            </table>
            <br><br>
            {% endfor %}
        </div>
        <div class="item">
            <h6 class="table-name">Second Semester Transcript List </h6><br><br>

            {% for yearly_report, total, average, section, year in second_transcript %}
            <h6>Section: {{section}}</h6>
            <h6>Academic Year: {{year}}</h6>
            <table class="table table-striped">
                <thead>
                <tr style="background:red;">
                    <td>Course Name</td>
                    <td>Mark</td>
                </tr>
                </thead>
                {% for course, point in yearly_report %}
                <tr>
                    <td>{{course}}</td>
                    <td>{{point}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr> 
                <tr>
                    <td>Average</td>
                    <td>{{average}}</td>
                </tr> 
            </table>
            <br><br>
            {% endfor %}
        </div>

        <div class="item">
            <h6 class="table-name">Average Transcript List </h6><br><br>

            {% for yearly_report, total, average, section, year in average_transcript %}
            <h6>Section: {{section}}</h6>
            <h6>Academic Year: {{year}}</h6>
            <table class="table table-striped">
                <thead>
                <tr style="background:red;">
                    <td>Course Name</td>
                    <td>Mark</td>
                </tr>
                </thead>
                {% for course, point in yearly_report %}
                <tr>
                    <td>{{course}}</td>
                    <td>{{point}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr> 
                <tr>
                    <td>Average</td>
                    <td>{{average}}</td>
                </tr> 
            </table>
            <br><br>
            {% endfor %}
        </div>
    </div>
</div>
   
<script>
// tab for ranklist
    function Semester(evt, type) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(type).style.display = "block";
        evt.currentTarget.className += " active";
    }


    var titles = document.querySelectorAll('.title');
    var items = document.querySelectorAll('.item');

    items[0].style.display = 'block';
    titles[0].setAttribute('data-status', 'active');
    
    for(let i=0; i<titles.length; i++) {
        let status = true;

        
        titles[i].addEventListener('click', function(event) {
            if(status) {
                items[i].style.display = 'block';
                titles[i].setAttribute('data-status', 'active');
                
                for(let j=0; j<titles.length; j++) {
                    if(titles[j] != event.target) {
                        items[j].style.display = 'none';
                        titles[j].removeAttribute('data-status');
                    }
                }

                status = true;
            }
        });
    }
</script>

{% endblock content %}