{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!--
 <ol class="col-12 breadcrumb bg-muted">
    <li class="breadcrumb-item"> <a href=""> Home </a> </li>
    <li class="breadcrumb-item active"> Delete Show </li>
</ol>
-->
   {% for e in error %} 
        {{e}}
    {% endfor %}
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="i"> Upload marks: </label>
    <input type="file" name="file" id="i">
    <button class="btn btn-info mr-1" type="submit">Upload</button>
 </form>

 {% endblock %}