{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <ol class="col-12 breadcrumb bg-muted">
        <!--<li class="breadcrumb-item"> <a href="{% url 'create_assessment' %}"> create  </a> </li>-->
        <li class="breadcrumb-item active"> Assessment List </li>
    </ol>

    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{% url 'create_assessment' %}"> Create Assessment  </a>
        </div>
    </div>

    <div class="container">
    <div class="row mt-3">
        <div class="col-sm-10 offset-sm-1">
            <table class="table table-striped">
                <tr class="table-primary">
                    <th>Name </th>
                    <th>Point</th>
                    <th>Section </th>
                    <th>Course Name</th>
                    <th> Semester </th>
                    <th width="280px"> Action </th>
                </tr>

               {% for assment in assessment %}
                        <tr>
                            <td> {{ assment.name }} </td>
                            <td>{{ assment.point }} </td>
                            <td>{{ assment.teacher_course.course.section }} </td>
                            <td>{{ assment.teacher_course.course.name }} </td>

                            <td>{{ assment.semester }} </td>
                             <td> 
                        <a class="btn btn-secondary" href="{% url 'assessment_edit' assment.id %}"> Edit</a>
                        <a class="btn btn-danger" href="{% url 'assessment_delete' assment.id %}"> Delete</a>
                    </td> 
                        </tr>
                {% endfor%}
            </table>
            </div>
            </div>
            </div>
{% endblock content %}